<main>
    <div class="jumbotron container" id="create-post-form">
        <form class="form-createpost form" method="POST" action="/reporterror/sendMail">
            <h1 class="text-center">Gör en Felanmälan</h1>
            <br>
            <h3 class="text-center">Företagets namn</h3>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="companyName" type="text" class="form-control" placeholder="Företagets namn"
                    value="{{companyName}}" maxlength="200">
            </div>
            <br>
            <h3 class="text-center">Kontakt Email</h3>
            <div class="form-label-group">
                <input name="contactEmail" type="text" class="form-control" placeholder="Vilken email kan vi nå er på?" value="{{contactEmail}}" maxlength="320">
            </div>
            <br>
            <h3 class="text-center">Namn</h3>
            <div class="form-label-group">
                <input name="personName" type="text" class="form-control" placeholder="Förnamn Efternamn"
                    value="{{personName}}">
            </div>
            <br>
            <h3 class="text-center">Beskrivning</h3>
            <div class="form-label-group">
                <textarea name="problemDescription" type="text" class="form-control"
                    placeholder="Beskrivning: Beskriv problemet för felanmälan" value="{{problemDescription}}"
                    maxlength="2000"></textarea>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="create-post-submitbutton">Skicka</button>
        </form>
    </div>
</main>