<div class="container-fluid">
    <h1>Manage Projects</h1>
    <table class="table table-striped col-md" id="project-table">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#if newsList.length}}
                {{#each newsList}}
                    <tr>
                        <td>{{title}}</td>
                        <td><a href="/news/update/{{id}}"><button class="btn btn-secondary">Edit</button></a></td>
                        <td>
                            <form method="POST" action="/news/{{id}}/delete">
                                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <td>No post found</td>
            {{/if}}
        </tbody>
    </table>
</div>